<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="light" data-footer="dark">
<head th:replace="client/fragments/head::head"></head>
 <body>
 <div th:replace="client/fragments/header::header"></div>
        <!--cart -->
 <div th:replace="client/fragments/cart::cart"></div>
        <!-- Modal -->
        <div class="modal fade" id="searchModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content rounded">
                    <div class="modal-header p-3">
                        <div class="position-relative w-100">
                            <input type="text" class="form-control form-control-lg border-2" placeholder="Search for Toner..." autocomplete="off" id="search-options" value="">
                            <span class="bi bi-search search-widget-icon fs-17"></span>
                            <a href="javascript:void(0);" class="search-widget-icon fs-14 link-secondary text-decoration-underline search-widget-icon-close d-none" id="search-close-options">Clear</a>
                        </div>
                    </div>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0 overflow-hidden" id="search-dropdown">

                        <div class="dropdown-head rounded-top">
                            <div class="p-3">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h6 class="m-0 fs-14 text-muted fw-semibold"> RECENT SEARCHES </h6>
                                    </div>
                                </div>
                            </div>

                            <div class="dropdown-item bg-transparent text-wrap">
                                <a href="index.html" class="btn btn-soft-secondary btn-sm btn-rounded">how to setup <i class="mdi mdi-magnify ms-1 align-middle"></i></a>
                                <a href="index.html" class="btn btn-soft-secondary btn-sm btn-rounded">buttons <i class="mdi mdi-magnify ms-1 align-middle"></i></a>
                            </div>
                        </div>

                        <div data-simplebar style="max-height: 300px;" class="pe-2 ps-3 my-3">
                            <div class="list-group list-group-flush border-dashed">
                                <div class="notification-group-list">
                                    <h5 class="text-overflow text-muted fs-13 mb-2 mt-3 text-uppercase notification-title">Apps Pages</h5>
                                    <a href="javascript:void(0);" class="list-group-item dropdown-item notify-item"><i class="bi bi-speedometer2 me-2"></i> <span>Analytics Dashboard</span></a>
                                    <a href="javascript:void(0);" class="list-group-item dropdown-item notify-item"><i class="bi bi-filetype-psd me-2"></i> <span>Toner.psd</span></a>
                                    <a href="javascript:void(0);" class="list-group-item dropdown-item notify-item"><i class="bi bi-ticket-detailed me-2"></i> <span>Support Tickets</span></a>
                                    <a href="javascript:void(0);" class="list-group-item dropdown-item notify-item"><i class="bi bi-file-earmark-zip me-2"></i> <span>Toner.zip</span></a>
                                </div>

                                <div class="notification-group-list">
                                    <h5 class="text-overflow text-muted fs-13 mb-2 mt-3 text-uppercase notification-title">Links</h5>
                                    <a href="javascript:void(0);" class="list-group-item dropdown-item notify-item"><i class="bi bi-link-45deg me-2 align-middle"></i> <span>www.themesbrand.com</span></a>
                                </div>

                                <div class="notification-group-list">
                                    <h5 class="text-overflow text-muted fs-13 mb-2 mt-3 text-uppercase notification-title">People</h5>
                                    <a href="javascript:void(0);" class="list-group-item dropdown-item notify-item">
                                        <div class="d-flex align-items-center">
                                            <img src="../assets/images/users/avatar-1.jpg" alt="" class="avatar-xs rounded-circle flex-shrink-0 me-2">
                                            <div>
                                                <h6 class="mb-0">Ayaan Bowen</h6>
                                                <span class="fs-12 text-muted">React Developer</span>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="javascript:void(0);" class="list-group-item dropdown-item notify-item">
                                        <div class="d-flex align-items-center">
                                            <img src="../assets/images/users/avatar-7.jpg" alt="" class="avatar-xs rounded-circle flex-shrink-0 me-2">
                                            <div>
                                                <h6 class="mb-0">Alexander Kristi</h6>
                                                <span class="fs-12 text-muted">React Developer</span>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="javascript:void(0);" class="list-group-item dropdown-item notify-item">
                                        <div class="d-flex align-items-center">
                                            <img src="../assets/images/users/avatar-5.jpg" alt="" class="avatar-xs rounded-circle flex-shrink-0 me-2">
                                            <div>
                                                <h6 class="mb-0">Alan Carla</h6>
                                                <span class="fs-12 text-muted">React Developer</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- removeItemModal -->
        <div id="removeItemModal" class="modal fade zoomIn" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mt-2 text-center">
                            <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop" colors="primary:#f7b84b,secondary:#f06548" style="width:100px;height:100px"></lord-icon>
                            <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                                <h4>Are you sure ?</h4>
                                <p class="text-muted mx-4 mb-0">Are you sure you want to remove this product ?</p>
                            </div>
                        </div>
                        <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                            <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn w-sm btn-danger" id="remove-product">Yes, Delete It!</button>
                        </div>
                    </div>

                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div class="modal fade" id="subscribeModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content border-0">
                    <div class="modal-body p-0 bg-info-subtle rounded">
                        <div class="row g-0 align-items-center">
                            <div class="col-lg-6">
                                <div class="p-4 h-100">
                                    <span class="badge bg-info-subtle text-info  fs-13">GET 10% SALE OFF</span>
                                    <h2 class="display-6 mt-2 mb-3">Subscribe & Get <b>50% Special</b> Discount On Email</h2>
                                    <p class="mb-4 pb-lg-2 fs-16">Join our newsletter to receive the latest updates and promotion</p>
                                    <form action="#!">
                                        <div class="position-relative ecommerce-subscript">
                                            <input type="email" class="form-control rounded-pill border-0" placeholder="Enter your email">
                                            <button type="submit" class="btn btn-info btn-hover rounded-pill">Subscript</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-4 pb-0">
                                    <img src="../assets/images/subscribe.png" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end modal -->
 <div th:replace="client/fragments/chat::chat"></div>
        <section class="ecommerce-about" style="background-image: url('../assets/images/profile-bg.jpg'); background-size: cover;background-position: center;">
            <div class="bg-overlay bg-primary" style="opacity: 0.85;"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center">
                            <h1 class="text-white mb-0">Product Grid No Sidebar</h1>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb breadcrumb-light justify-content-center mt-4">
                                    <li class="breadcrumb-item"><a href="#">Product</a></li>
                                    <li class="breadcrumb-item"><a href="#">Grid View</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">No Sidebar</li>
                                </ol>
                            </nav>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section>

        <div class="position-relative section">
            <div class="container">
                <div id="col-3-layout">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body p-4">
                                    <div class="row gy-4">
                                        <div class="col-xl-3 col-md-6">
                                            <div>
                                                <label class="form-label">Category</label>
                                                <select class="form-control" name="select-category" id="select-category">
                                                    <option value="">Select Category</option>
                                                    <option value="Grocery">Grocery</option>
                                                    <option value="Fashion">Fashion</option>
                                                    <option value="Watches">Watches</option>
                                                    <option value="Electronics">Electronics</option>
                                                    <option value="Furniture">Furniture</option>
                                                    <option value="Automotive Accessories">Automotive Accessories</option>
                                                    <option value="Appliances">Appliances</option>
                                                    <option value="Kids">Kids</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-xl-3 col-md-6">
                                            <div>
                                                <label class="form-label">Price</label>
                                                <div class="pb-3">
                                                    <div id="slider-hide" data-slider-color="info" class="mb-4"></div>
                                                    <div class="formCost d-none gap-2 align-items-center">
                                                        <input class="form-control form-control-sm" type="text" id="minCost" value="0"> <span class="fw-semibold text-muted">to</span> <input class="form-control form-control-sm" type="text" id="maxCost" value="1000">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-3 col-md-6">
                                            <div>
                                                <label class="form-label">Rating</label>
                                                <select class="form-control" multiple name="select-rating" id="select-rating">
                                                    <option value="">Select rating</option>
                                                    <option value="4">4 & Above</option>
                                                    <option value="3">3 & Above</option>
                                                    <option value="2">2 & Above</option>
                                                    <option value="1">1</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-xl-3 col-md-6">
                                            <div>
                                                <label class="form-label">Discount</label>
                                                <select class="form-control" multiple name="select-discount" id="select-discount">
                                                    <option value="">Select discount</option>
                                                    <option value="50">50% or more</option>
                                                    <option value="40">40% or more</option>
                                                    <option value="30">30% or more</option>
                                                    <option value="20">20% or more</option>
                                                    <option value="10">10% or more</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row align-items-center mb-4">
                                <div class="col-md-auto">
                                    <div class="search-box">
                                        <input type="text" class="form-control" id="searchProductList" autocomplete="off" placeholder="Search Products...">
                                        <i class="ri-search-line search-icon"></i>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="d-flex gap-2 justify-content-md-end">
                                        <div class="flex-shrink-0">
                                            <label for="sort-elem" class="col-form-label">Sort By:</label>
                                        </div>
                                        <div class="flex-shrink-0">
                                            <select class="form-select w-md" id="sort-elem">
                                                <option value="">All</option>
                                                <option value="low_to_high">Low to High</option>
                                                <option value="high_to_low">High to Low</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row" id="product-grid-right"></div>
                    <div class="row" id="pagination-element">
                        <div class="col-lg-12">
                            <div class="pagination-block pagination pagination-separated justify-content-center justify-content-sm-end mb-sm-0">
                                <div class="page-item">
                                    <a href="javascript:void(0);" class="page-link" id="page-prev">Previous</a>
                                </div>
                                <span id="page-num" class="pagination"></span>
                                <div class="page-item">
                                    <a href="javascript:void(0);" class="page-link" id="page-next">Next</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row d-none" id="search-result-elem">
                        <div class="col-lg-12">
                            <div class="text-center py-5">
                                <div class="avatar-lg mx-auto mb-4">
                                    <div class="avatar-title bg-primary-subtle text-primary rounded-circle fs-24">
                                        <i class="bi bi-search"></i>
                                    </div>
                                </div>

                                <h5>No matching records found</h5>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </div>
            </div><!--end container-->
        </div>

        <section class="section pt-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="d-flex align-items-center justify-content-between mb-4 pb-1">
                            <h2 class="flex-grow-1 mb-0">Deals Of The Day</h2>
                            <div class="flex-shrink-0">
                                <a href="#!" class="link-effect link-success">All Deals <i class="ri-arrow-right-line ms-1 align-bottom"></i></a>
                            </div>
                        </div>
                    </div>
                </div><!--end col-->
                <div class="row">
                    <div class="col-xxl-4 col-lg-4 col-md-6">
                        <div class="ecommerce-deals-widgets">
                            <div class="card overflow-hidden mb-0 border-0">
                                <div class="gallery-product">
                                    <img src="../assets/images/ecommerce/img-5.jpg" alt="" class="mx-auto d-block object-fit-cover">
                                </div>
                            </div>
                            <div class="content mx-4">
                                <div class="countdown-deals mb-3">
                                    <div data-countdown="Oct 30, 2023" class="countdownlist"></div>
                                </div>
                                <div class="card border-0 p-4 position-relative rounded-3 shadow-lg">
                                    <a href="#!">
                                        <h6 class="text-capitalize fs-16 lh-base text-truncate">World's most expensive t-shirt</h6>
                                    </a>
                                    <p class="text-muted"><i class="ri-star-fill text-warning align-bottom"></i> <i class="ri-star-fill text-warning align-bottom"></i> <i class="ri-star-fill text-warning align-bottom"></i> <i class="ri-star-fill text-warning align-bottom"></i> <i class="ri-star-half-fill text-warning align-bottom"></i> (4.9)</p>
                                    <div class="mt-3 d-flex align-items-center">
                                        <h5 class="text-secondary flex-grow-1 mb-0">$124.99 <span class="text-muted fs-12"><del>$354.99</del></span></h5>
                                        <a href="#!" class="btn btn-primary btn-sm"><i class="ri-shopping-bag-line align-bottom me-1"></i> Add</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                    <div class="col-xxl-4 col-lg-4 col-md-6">
                        <div class="ecommerce-deals-widgets">
                            <div class="card overflow-hidden mb-0 border-0">
                                <div class="gallery-product">
                                    <img src="../assets/images/ecommerce/instagram/img-2.jpg" alt="" class="mx-auto d-block object-fit-cover">
                                </div>
                            </div>
                            <div class="content mx-4">
                                <div class="countdown-deals mb-3">
                                    <div data-countdown="Oct 20, 2023" class="countdownlist"></div>
                                </div>
                                <div class="card border-0 p-4 position-relative rounded-3 shadow-lg">
                                    <a href="#!">
                                        <h6 class="text-capitalize fs-16 lh-base text-truncate">Branded Perfumes For Men</h6>
                                    </a>
                                    <p class="text-muted"><i class="ri-star-fill text-warning align-bottom"></i> <i class="ri-star-fill text-warning align-bottom"></i> <i class="ri-star-fill text-warning align-bottom"></i> <i class="ri-star-fill text-warning align-bottom"></i> <i class="ri-star-half-fill text-warning align-bottom"></i> (4.8)</p>
                                    <div class="mt-3 d-flex align-items-center">
                                        <h5 class="text-secondary flex-grow-1 mb-0">$56.00 <span class="text-muted fs-12"><del>$180.00</del></span></h5>
                                        <a href="#!" class="btn btn-primary btn-sm"><i class="ri-shopping-bag-line align-bottom me-1"></i> Add</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                    <div class="col-xxl-4 col-lg-4 col-md-6">
                        <div class="ecommerce-deals-widgets">
                            <div class="card overflow-hidden mb-0 border-0">
                                <div class="gallery-product">
                                    <img src="../assets/images/ecommerce/img-3.jpg" alt="" class="mx-auto d-block object-fit-cover">
                                </div>
                            </div>
                            <div class="content mx-4">
                                <div class="countdown-deals mb-3">
                                    <div data-countdown="Oct 15, 2023" class="countdownlist"></div>
                                </div>
                                <div class="card border-0 p-4 position-relative rounded-3 shadow-lg">
                                    <a href="#!">
                                        <h6 class="text-capitalize fs-16 lh-base text-truncate">Dressive Women Beige Heels</h6>
                                    </a>
                                    <p class="text-muted"><i class="ri-star-fill text-warning align-bottom"></i> <i class="ri-star-fill text-warning align-bottom"></i> <i class="ri-star-fill text-warning align-bottom"></i> <i class="ri-star-fill text-warning align-bottom"></i> <i class="ri-star-half-fill text-warning align-bottom"></i> (4.9)</p>
                                    <div class="mt-3 d-flex align-items-center">
                                        <h5 class="text-secondary flex-grow-1 mb-0">$124.99 <span class="text-muted fs-12"><del>$354.99</del></span></h5>
                                        <a href="#!" class="btn btn-primary btn-sm"><i class="ri-shopping-bag-line align-bottom me-1"></i> Add</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section>

        <section class="section bg-light bg-opacity-25" style="background-image: url('../assets/images/ecommerce/bg-effect.png');background-position: center; background-size: cover;">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-lg-6">
                        <div>
                            <p class="fs-15 text-uppercase fw-medium"><span class="fw-semibold text-danger">25% Up to</span> off all Products</p>
                            <h1 class="lh-base text-capitalize mb-3">Stay home &amp; get your daily needs from our shop</h1>
                            <p class="fs-15 mb-4 pb-2">Start You'r Daily Shopping with <a href="#!" class="link-info fw-medium">Toner</a></p>
                            <form action="#!">
                                <div class="position-relative ecommerce-subscript">
                                    <input type="email" class="form-control rounded-pill" placeholder="Enter your email">
                                    <button type="submit" class="btn btn-primary btn-hover rounded-pill">Subscript Now</button>
                                </div>
                            </form>
                        </div>
                    </div><!--end col-->
                    <div class="col-lg-4">
                        <div class="mt-4 mt-lg-0">
                            <img src="../assets/images/ecommerce/subscribe.png" alt="" class="img-fluid">
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section>

 <div th:replace="client/fragments/footer::footer"></div>
 <div th:replace="client/fragments/script::script"></div>
    </body>
</html>