<div  th:fragment="footer">
<section class="position-relative py-5">
        <div class="container">
            <div class="row gy-4">
                <div class="col-xxl-3 col-md-6">
                    <div class="d-flex align-items-center gap-3">
                        <div class="flex-shrink-0">
                            <img src="../assets/images/ecommerce/fast-delivery.png" alt="" class="avatar-sm">
                        </div>
                        <div class="flex-grow-1">
                            <h5 class="fs-15">Fast &amp; Secure Delivery</h5>
                            <p class="text-muted mb-0">Tell about your service.</p>
                        </div>
                    </div>
                </div>
                <!--end col-->
                <div class="col-xxl-3 col-md-6">
                    <div class="d-flex align-items-center gap-3">
                        <div class="flex-shrink-0">
                            <img src="../assets/images/ecommerce/returns.png" alt="" class="avatar-sm">
                        </div>
                        <div class="flex-grow-1">
                            <h5 class="fs-15">2 Days Return Policy</h5>
                            <p class="text-muted mb-0">No question ask.</p>
                        </div>
                    </div>
                </div>
                <!--end col-->
                <div class="col-xxl-3 col-md-6">
                    <div class="d-flex align-items-center gap-3">
                        <div class="flex-shrink-0">
                            <img src="../assets/images/ecommerce/guarantee-certificate.png" alt="" class="avatar-sm">
                        </div>
                        <div class="flex-grow-1">
                            <h5 class="fs-15">Money Back Guarantee</h5>
                            <p class="text-muted mb-0">Within 5 business days</p>
                        </div>
                    </div>
                </div>
                <!--end col-->
                <div class="col-xxl-3 col-md-6">
                    <div class="d-flex align-items-center gap-3">
                        <div class="flex-shrink-0">
                            <img src="../assets/images/ecommerce/24-hours-support.png" alt="" class="avatar-sm">
                        </div>
                        <div class="flex-grow-1">
                            <h5 class="fs-15">24 X 7 Service</h5>
                            <p class="text-muted mb-0">Online service for customer</p>
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!-- footer -->
    <section class="section footer-landing pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="footer-info">
                        <img src="../assets/images/logo-light.png" alt="" height="28" class="logo-light">
                        <img src="../assets/images/logo-dark.png" alt="" height="28" class="logo-dark">
                        <p class="footer-desc mt-4 mb-2 me-3">Toner provides best fashion experience for both men and women at best pricing. We follow New fashion approach to give best premium feel.</p>

                        <div class="footer-social mt-4">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item">
                                    <a href="#!" class="text-reset"><i class="mdi mdi-facebook"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#!" class="text-reset"><i class="mdi mdi-twitter"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#!" class="text-reset"><i class="mdi mdi-google"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#!" class="text-reset"><i class="mdi mdi-pinterest"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row ps-0 ps-lg-3">
                        <div class="col-md-3">
                            <div class="mt-lg-0 mt-4">
                                <h5 class="footer-title">Categories</h5>
                                <ul class="list-unstyled footer-link mt-3">
                                    <li><a href="#!">Men</a></li>
                                    <li><a href="#!">Jewellers</a></li>
                                    <li><a href="#!">Accessories</a></li>
                                    <li><a href="#!">Clothing</a></li>
                                    <li><a href="#!">Beauty Items</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mt-lg-0 mt-4">
                                <h5 class="footer-title">Information</h5>
                                <ul class="list-unstyled footer-link mt-3">
                                    <li><a href="#!">Custom Service</a></li>
                                    <li><a href="#!">FAQs</a></li>
                                    <li><a href="#!">Ordering</a></li>
                                    <li><a href="#!">Tracking</a></li>
                                    <li><a href="#!">Contacts</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="mt-lg-0 mt-4">
                                <h5 class="footer-title">My Account</h5>
                                <ul class="list-unstyled footer-link mt-3">
                                    <li><a href="#!">Sign In</a></li>
                                    <li><a href="#!">View Cart</a></li>
                                    <li><a href="#!">My Wishlist</a></li>
                                    <li><a href="#!">Track My Order</a></li>
                                    <li><a href="#!">Help</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="mt-lg-0 mt-4">
                                <h5 class="footer-title">Customer Service</h5>
                                <ul class="list-unstyled footer-link mt-3">
                                    <li><a href="#!">Payment Methods</a></li>
                                    <li><a href="#!">Money-back!</a></li>
                                    <li><a href="#!">Returns</a></li>
                                    <li><a href="#!">Shipping</a></li>
                                    <li><a href="#!">Terms and conditions</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row footer-border-alt mt-4 align-items-center fs-15">
                <div class="col-sm-6">
                    <script>document.write(new Date().getFullYear())</script> © Toner. Design &amp; Develop by <a href="https://themesbrand.com/" target="_blank" class="text-reset text-decoration-underline">Themesbrand</a>
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end d-none d-sm-block">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <a href="#!"><img src="../assets/images/ecommerce/payment/visa.png" alt="" height="30"></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!"><img src="../assets/images/ecommerce/payment/discover.png" alt="" height="30"></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!"><img src="../assets/images/ecommerce/payment/american-express.png" alt="" height="30"></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!"><img src="../assets/images/ecommerce/payment/paypal.png" alt="" height="30"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>