<div th:fragment="script">



    <!-- JAVASCRIPT -->
    <script th:src="@{/assets/libs/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/assets/libs/simplebar/simplebar.min.js}"></script>
    <script th:src="@{/assets/js/plugins.js}"></script>

    <!-- Swiper Js-->
    <script th:src="@{/assets/libs/swiper/swiper-bundle.min.js}"></script>

    <!-- Trend Fashion init js-->
    <script th:src="@{/assets/js/frontend/trend-fashion.init.js}"></script>

    <!-- menu init js -->
    <script th:src="@{/assets/js/frontend/menu.init.js}"></script>
</div>