<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="light" data-footer="dark">
<head th:replace="client/fragments/head::head"></head>
<body>
<div th:replace="client/fragments/header::header"></div>
<!--cart -->
<div th:replace="client/fragments/cart::cart"></div>
<!-- Modal -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content rounded">
            <div class="modal-header p-3">
                <div class="position-relative w-100">
                    <input type="text" class="form-control form-control-lg border-2" placeholder="Search for Toner..."
                           autocomplete="off" id="search-options" value="">
                    <span class="bi bi-search search-widget-icon fs-17"></span>
                    <a href="javascript:void(0);"
                       class="search-widget-icon fs-14 link-secondary text-decoration-underline search-widget-icon-close d-none"
                       id="search-close-options">Clear</a>
                </div>
            </div>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0 overflow-hidden" id="search-dropdown">

                <div class="dropdown-head rounded-top">
                    <div class="p-3">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="m-0 fs-14 text-muted fw-semibold"> RECENT SEARCHES </h6>
                            </div>
                        </div>
                    </div>

                    <div class="dropdown-item bg-transparent text-wrap">
                        <a href="index.html" class="btn btn-soft-secondary btn-sm btn-rounded">how to setup <i
                                class="mdi mdi-magnify ms-1 align-middle"></i></a>
                        <a href="index.html" class="btn btn-soft-secondary btn-sm btn-rounded">buttons <i
                                class="mdi mdi-magnify ms-1 align-middle"></i></a>
                    </div>
                </div>

                <div data-simplebar style="max-height: 300px;" class="pe-2 ps-3 my-3">
                    <div class="list-group list-group-flush border-dashed">
                        <div class="notification-group-list">
                            <h5 class="text-overflow text-muted fs-13 mb-2 mt-3 text-uppercase notification-title">Apps
                                Pages</h5>
                            <a href="javascript:void(0);" class="list-group-item dropdown-item notify-item"><i
                                    class="bi bi-speedometer2 me-2"></i> <span>Analytics Dashboard</span></a>
                            <a href="javascript:void(0);" class="list-group-item dropdown-item notify-item"><i
                                    class="bi bi-filetype-psd me-2"></i> <span>Toner.psd</span></a>
                            <a href="javascript:void(0);" class="list-group-item dropdown-item notify-item"><i
                                    class="bi bi-ticket-detailed me-2"></i> <span>Support Tickets</span></a>
                            <a href="javascript:void(0);" class="list-group-item dropdown-item notify-item"><i
                                    class="bi bi-file-earmark-zip me-2"></i> <span>Toner.zip</span></a>
                        </div>

                        <div class="notification-group-list">
                            <h5 class="text-overflow text-muted fs-13 mb-2 mt-3 text-uppercase notification-title">
                                Links</h5>
                            <a href="javascript:void(0);" class="list-group-item dropdown-item notify-item"><i
                                    class="bi bi-link-45deg me-2 align-middle"></i> <span>www.themesbrand.com</span></a>
                        </div>

                        <div class="notification-group-list">
                            <h5 class="text-overflow text-muted fs-13 mb-2 mt-3 text-uppercase notification-title">
                                People</h5>
                            <a href="javascript:void(0);" class="list-group-item dropdown-item notify-item">
                                <div class="d-flex align-items-center">
                                    <img src="../assets/images/users/avatar-1.jpg" alt=""
                                         class="avatar-xs rounded-circle flex-shrink-0 me-2">
                                    <div>
                                        <h6 class="mb-0">Ayaan Bowen</h6>
                                        <span class="fs-12 text-muted">React Developer</span>
                                    </div>
                                </div>
                            </a>
                            <a href="javascript:void(0);" class="list-group-item dropdown-item notify-item">
                                <div class="d-flex align-items-center">
                                    <img src="../assets/images/users/avatar-7.jpg" alt=""
                                         class="avatar-xs rounded-circle flex-shrink-0 me-2">
                                    <div>
                                        <h6 class="mb-0">Alexander Kristi</h6>
                                        <span class="fs-12 text-muted">React Developer</span>
                                    </div>
                                </div>
                            </a>
                            <a href="javascript:void(0);" class="list-group-item dropdown-item notify-item">
                                <div class="d-flex align-items-center">
                                    <img src="../assets/images/users/avatar-5.jpg" alt=""
                                         class="avatar-xs rounded-circle flex-shrink-0 me-2">
                                    <div>
                                        <h6 class="mb-0">Alan Carla</h6>
                                        <span class="fs-12 text-muted">React Developer</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- removeItemModal -->
<div id="removeItemModal" class="modal fade zoomIn" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        id="close-modal"></button>
            </div>
            <div class="modal-body">
                <div class="mt-2 text-center">
                    <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop"
                               colors="primary:#f7b84b,secondary:#f06548" style="width:100px;height:100px"></lord-icon>
                    <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                        <h4>Are you sure ?</h4>
                        <p class="text-muted mx-4 mb-0">Are you sure you want to remove this product ?</p>
                    </div>
                </div>
                <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                    <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn w-sm btn-danger" id="remove-product">Yes, Delete It!</button>
                </div>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="subscribeModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content border-0">
            <div class="modal-body p-0 bg-info-subtle rounded">
                <div class="row g-0 align-items-center">
                    <div class="col-lg-6">
                        <div class="p-4 h-100">
                            <span class="badge bg-info-subtle text-info  fs-13">GET 10% SALE OFF</span>
                            <h2 class="display-6 mt-2 mb-3">Subscribe & Get <b>50% Special</b> Discount On Email</h2>
                            <p class="mb-4 pb-lg-2 fs-16">Join our newsletter to receive the latest updates and
                                promotion</p>
                            <form action="#!">
                                <div class="position-relative ecommerce-subscript">
                                    <input type="email" class="form-control rounded-pill border-0"
                                           placeholder="Enter your email">
                                    <button type="submit" class="btn btn-info btn-hover rounded-pill">Subscript</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-4 pb-0">
                            <img src="../assets/images/subscribe.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end modal -->
<div th:replace="client/fragments/chat::chat"></div>

<section class="page-wrapper bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center d-flex align-items-center justify-content-between">
                    <h4 class="text-white mb-0">Shopping Cart</h4>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-light justify-content-center mb-0 fs-15">
                            <li class="breadcrumb-item"><a href="#!">Shop</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section><!--end page-wrapper-->

<section class="section">
    <div class="container">
        <div class="row product-list justify-content-center">
            <div class="col-lg-8">
                <div class="d-flex align-items-center mb-4">
                    <h5 class="mb-0 flex-grow-1 fw-medium">There are <span class="fw-bold product-count"></span>
                        products in your cart</h5>
                    <div class="flex-shrink-0">
                        <button class="btn btn-hover text-decoration-underline link-secondary" onclick="deleteAll()">
                            Clear Cart
                        </button>
                    </div>
                </div>
                <!--end card-->
                <div id="card-product">
                </div>
                <!--end card-->
            </div>
            <!--end col-->
            <div class="col-lg-4">
                <div class="sticky-side-div">
                    <div class="card">
                        <div class="card-body">
                            <div class="text-center">
                                <h6 class="mb-3 fs-15">Have a <span class="fw-semibold">promo</span> code ?</h6>
                            </div>
                            <div class="hstack gap-3 px-3 mx-n3">
                                <input class="form-control me-auto" type="text" placeholder="Enter coupon code"
                                       value="Toner15" aria-label="Add Promo Code here...">
                                <button type="button" class="btn btn-primary w-xs">Apply</button>
                            </div>
                        </div>
                    </div>
                    <div class="card overflow-hidden">
                        <div class="card-header border-bottom-dashed">
                            <h5 class="card-title mb-0 fs-15">Order Summary</h5>
                        </div>
                        <div class="card-body pt-4">
                            <div class="table-responsive table-card">
                                <table class="table table-borderless mb-0 fs-15">
                                    <tbody>
                                    <tr>
                                        <td>Giá trước thuế:</td>
                                        <td class="text-end cart-subtotal" id="sub-total"></td>
                                    </tr>
                                    <tr>
                                        <td>Mã giảm giá<span class="text-muted">(không áp dụng)</span>:</td>
                                        <td class="text-end cart-discount">-0%</td>
                                    </tr>
                                    <tr>
                                        <td>VAT (10%) :</td>
                                        <td class="text-end cart-tax" id="vat"></td>
                                    </tr>
                                    <tr class="table-active">
                                        <th>Tổng tiền :</th>
                                        <td class="text-end">
                                            <span class="fw-semibold cart-total" id="total-amount"></span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- end table-responsive -->
                        </div>
                    </div>
                    <div class="hstack gap-2 justify-content-end disabled">
                        <button type="button" class="btn btn-hover btn-danger">Continue Shopping</button>
                        <button type="button" class="btn btn-hover btn-success">Check Out <i
                                class="ri-logout-box-r-line align-bottom ms-1"></i></button>
                    </div>
                </div>
                <!-- end sticky -->
            </div>
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>

<section class="section pt-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="d-flex align-items-center justify-content-between mb-4 pb-1">
                    <h4 class="flex-grow-1 mb-0">New Branded Products</h4>
                    <div class="flex-shrink-0">
                        <a href="#!" class="link-effect link-primary">All Products <i
                                class="ri-arrow-right-line ms-1 align-bottom"></i></a>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
        <div class="row">
            <div class="col-xxl-3 col-lg-4 col-md-6">
                <div class="card ecommerce-product-widgets border-0 rounded-0 shadow-none overflow-hidden card-animate">
                    <div class="bg-light bg-opacity-50 rounded py-4 position-relative">
                        <img src="../assets/images/products/img-12.png" alt=""
                             style="max-height: 200px;max-width: 100%;" class="mx-auto d-block rounded-2">
                        <div class="action vstack gap-2">
                            <button class="btn btn-danger avatar-xs p-0 btn-soft-warning custom-toggle product-action"
                                    data-bs-toggle="button"><span class="icon-on"><i
                                    class="ri-heart-line"></i></span><span class="icon-off"><i
                                    class="ri-heart-fill"></i></span></button>
                        </div>
                    </div>
                    <div class="pt-4">
                        <ul class="clothe-colors list-unstyled hstack gap-1 mb-3 flex-wrap">
                            <li><input type="radio" name="sizes10" id="product-color-102"><label
                                    class="avatar-xxs btn btn-secondary p-0 d-flex align-items-center justify-content-center rounded-circle"
                                    for="product-color-102"></label></li>
                            <li><input type="radio" name="sizes10" id="product-color-103"><label
                                    class="avatar-xxs btn btn-dark p-0 d-flex align-items-center justify-content-center rounded-circle"
                                    for="product-color-103"></label></li>
                            <li><input type="radio" name="sizes10" id="product-color-104"><label
                                    class="avatar-xxs btn btn-danger p-0 d-flex align-items-center justify-content-center rounded-circle"
                                    for="product-color-104"></label></li>
                            <li><input type="radio" name="sizes10" id="product-color-105"><label
                                    class="avatar-xxs btn btn-light p-0 d-flex align-items-center justify-content-center rounded-circle"
                                    for="product-color-105"></label></li>
                        </ul>
                        <a href="#!">
                            <h6 class="text-capitalize fs-15 lh-base text-truncate mb-0">Carven Lounge Chair Red</h6>
                        </a>
                        <div class="mt-2">
                            <span class="float-end">4.1 <i
                                    class="ri-star-half-fill text-warning align-bottom"></i></span>
                            <h5 class="mb-0">$209.99</h5>
                        </div>
                        <div class="mt-3">
                            <a href="#!" class="btn btn-primary w-100 add-btn"><i class="mdi mdi-cart me-1"></i> Add To
                                Cart</a>
                        </div>
                    </div>
                </div>
            </div><!--end col-->
            <div class="col-xxl-3 col-lg-4 col-md-6">
                <div class="card ecommerce-product-widgets border-0 rounded-0 shadow-none overflow-hidden card-animate">
                    <div class="bg-light bg-opacity-50 rounded py-4 position-relative">
                        <img src="../assets/images/products/img-7.png" alt="" style="max-height: 200px;max-width: 100%;"
                             class="mx-auto d-block rounded-2">
                        <div class="action vstack gap-2">
                            <button class="btn btn-danger avatar-xs p-0 btn-soft-warning custom-toggle product-action "
                                    data-bs-toggle="button"><span class="icon-on"><i
                                    class="ri-heart-line"></i></span><span class="icon-off"><i
                                    class="ri-heart-fill"></i></span></button>
                        </div>
                    </div>
                    <div class="pt-4">
                        <div>
                            <div class="avatar-xxs mb-4">
                                <div class="avatar-title bg-light text-muted rounded cursor-pointer"><i
                                        class="ri-error-warning-line"></i></div>
                            </div>
                            <a href="#!">
                                <h6 class="text-capitalize fs-15 lh-base text-truncate mb-0">Innovative education
                                    book</h6>
                            </a>
                            <div class="mt-2">
                                <span class="float-end">4.7 <i class="ri-star-half-fill text-warning align-bottom"></i></span>
                                <h5 class="mb-0">$96.26</h5>
                            </div>
                            <div class="mt-3">
                                <a href="#!" class="btn btn-primary w-100 add-btn"><i class="mdi mdi-cart me-1"></i> Add
                                    To Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end col-->
            <div class="col-xxl-3 col-lg-4 col-md-6">
                <div class="card ecommerce-product-widgets border-0 rounded-0 shadow-none overflow-hidden card-animate">
                    <div class="bg-light bg-opacity-50 rounded py-4 position-relative">
                        <img src="../assets/images/products/img-3.png" alt="" style="max-height: 200px;max-width: 100%;"
                             class="mx-auto d-block rounded-2">
                        <div class="action vstack gap-2">
                            <button class="btn btn-danger avatar-xs p-0 btn-soft-warning custom-toggle product-action "
                                    data-bs-toggle="button"><span class="icon-on"><i
                                    class="ri-heart-line"></i></span><span class="icon-off"><i
                                    class="ri-heart-fill"></i></span></button>
                        </div>
                        <div class="avatar-xs label">
                            <div class="avatar-title bg-danger rounded-circle fs-11">20%</div>
                        </div>
                    </div>
                    <div class="pt-4">
                        <ul class="clothe-colors list-unstyled hstack gap-1 mb-3 flex-wrap">
                            <li><input type="radio" name="sizes11" id="product-color-112"><label
                                    class="avatar-xxs btn btn-secondary p-0 d-flex align-items-center justify-content-center rounded-circle"
                                    for="product-color-112"></label></li>
                            <li><input type="radio" name="sizes11" id="product-color-113"><label
                                    class="avatar-xxs btn btn-primary p-0 d-flex align-items-center justify-content-center rounded-circle"
                                    for="product-color-113"></label></li>
                        </ul>
                        <a href="#!">
                            <h6 class="text-capitalize fs-15 lh-base text-truncate mb-0">Ninja Pro Max Smartwatch</h6>
                        </a>
                        <div class="mt-2">
                            <span class="float-end">3.5 <i
                                    class="ri-star-half-fill text-warning align-bottom"></i></span>
                            <h5 class="mb-0">$247.27 <span class="text-muted fs-12"><del>$309.09</del></span></h5>
                        </div>
                        <div class="mt-3">
                            <a href="#!" class="btn btn-primary w-100 add-btn"><i class="mdi mdi-cart me-1"></i> Add To
                                Cart</a>
                        </div>
                    </div>
                </div>
            </div><!--end col-->
            <div class="col-xxl-3 col-lg-4 col-md-6">
                <div class="card ecommerce-product-widgets border-0 rounded-0 shadow-none overflow-hidden card-animate">
                    <div class="bg-light bg-opacity-50 rounded py-4 position-relative">
                        <img src="../assets/images/products/img-2.png" alt="" style="max-height: 200px;max-width: 100%;"
                             class="mx-auto d-block rounded-2">
                        <div class="action vstack gap-2">
                            <button class="btn btn-danger avatar-xs p-0 btn-soft-warning custom-toggle product-action "
                                    data-bs-toggle="button"><span class="icon-on"><i
                                    class="ri-heart-line"></i></span><span class="icon-off"><i
                                    class="ri-heart-fill"></i></span></button>
                        </div>
                    </div>
                    <div class="pt-4">
                        <ul class="clothe-colors list-unstyled hstack gap-1 mb-3 flex-wrap">
                            <li><input type="radio" name="sizes12" id="product-color-122"><label
                                    class="avatar-xxs btn btn-success p-0 d-flex align-items-center justify-content-center rounded-circle"
                                    for="product-color-122"></label></li>
                        </ul>
                        <a href="#!">
                            <h6 class="text-capitalize fs-15 lh-base text-truncate mb-0">Opinion Striped Round Neck
                                Green T-shirt</h6>
                        </a>
                        <div class="mt-2">
                            <span class="float-end">4.1 <i
                                    class="ri-star-half-fill text-warning align-bottom"></i></span>
                            <h5 class="mb-0">$126.99</h5>
                        </div>
                        <div class="mt-3">
                            <a href="#!" class="btn btn-primary btn-hover w-100 add-btn"><i
                                    class="mdi mdi-cart me-1"></i> Add To Cart</a>
                        </div>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end Container-->
</section>

<section class="section bg-light bg-opacity-25"
         style="background-image: url('../assets/images/ecommerce/bg-effect.png');background-position: center; background-size: cover;">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6">
                <div>
                    <p class="fs-15 text-uppercase fw-medium"><span class="fw-semibold text-danger">25% Up to</span> off
                        all Products</p>
                    <h1 class="lh-base text-capitalize mb-3">Stay home & get your daily needs from our shop</h1>
                    <p class="fs-15 mb-4 pb-2">Start You'r Daily Shopping with <a href="#!"
                                                                                  class="link-primary text-decoration-underline fw-medium">Toner</a>
                    </p>
                    <form action="#!">
                        <div class="position-relative ecommerce-subscript">
                            <input type="email" class="form-control rounded-pill" placeholder="Enter your email">
                            <button type="submit" class="btn btn-primary btn-hover rounded-pill">Subscript Now</button>
                        </div>
                    </form>
                </div>
            </div>
            <!--end col-->
            <div class="col-lg-4">
                <div class="mt-5 mt-lg-0">
                    <img src="../assets/images/ecommerce/subscribe.png" alt="" class="img-fluid">
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>

<div th:replace="client/fragments/footer::footer"></div>
<div th:replace="client/fragments/script::script"></div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
<script>

    var page;
    window.onload = function () {
        loadPage(0);
    }

    async function loadPage(pageNumber) {
        var url = "/api/client/cart_detail/page/" + pageNumber;
        const response = await fetch(url, {
            method: 'GET'
        });
        page = pageNumber;
        var result = await response.json();
        console.log(result);
        var list = result.content;
        // var totalPage = result.totalPages;
        // var number = result.number;
        var main = '';
        var groupSP = '';
        for (i = 0; i < list.length; i++) {
            var urlDetailPD = '/api/client/product_detail/detailPD/' + list[i].spct.sp.id;
            const responseDetailPD = await fetch(urlDetailPD, {
                method: 'GET'
            });
            const data = await responseDetailPD.json();
            let resultDetail = data.filter((product, index, self) =>
                index === self.findIndex((p) => (
                    p.sp.id === product.sp.id
                ))
            );
            for (j = 0; j < resultDetail.length; j++) {
                if (list[i].spct.sp.id === resultDetail[j].sp.id) {

                    var urlGetPicture = '/api/client/product_detail/picture-detail/' + resultDetail[j].sp.id + '/' + list[i].spct.ms.id;
                    const pictureResponse = await fetch(urlGetPicture, {
                        method: 'GET'
                    });
                    var dataPicture = await pictureResponse.json();
                    console.log(dataPicture);
                    var img;
                    if(dataPicture.statusText === "failure") {
                        img = `<img src="../assets/images/products/img-8.png" alt="" class="avatar-md">`;
                    } else {
                        img = `<img src="${dataPicture[0].linkAnh}" alt="" class="avatar-md">`;
                    }
                    groupSP += `<div class="row gy-3">
                                    <div class="col-sm-auto d-flex gap-2 justify-content-end mt-auto mb-auto">
                                      <div class="form-check"><input class="form-check-input" type="checkbox" id="checkID" value="option" style="width: 20px; height: 20px"></div>
                                    </div>
                                    <div class="col-sm-auto">
                                        <div class="avatar-lg h-100">
                                            <div class="avatar-title bg-dark-subtle rounded py-3" id="product-picture">
                                                ${img}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <a href="#!">
                                            <h5 class="fs-16 lh-base mb-1">${list[i].spct.sp.tenSP}</h5>
                                        </a>
                                        <ul class="list-inline text-muted fs-13 mb-auto">
                                            <li class="list-inline-item">Color : <span class="fw-medium">${list[i].spct.ms.ten}</span></li>
                                        </ul>
                                        <ul class="list-inline text-muted fs-13 mb-auto">
                                            <li class="list-inline-item">Size : <span class="fw-medium">${list[i].spct.size}</span></li>
                                        </ul>
                                          <ul class="list-inline text-muted fs-13 mb-auto">
                                            <li class="list-inline-item">Quantity :</li><div class="input-step">
                                            <button type="button" onclick="minusQuantity(${list[i].id},${i + 1})" class="minus">–</button>
                                            <input type="number" class="product-quantity" id="product-quantity-${i + 1}" onblur="editQuantity(${list[i].id},${i + 1})" value="${list[i].soLuong}" min="1" max="100">
                                            <button type="button" onclick="addQuantity(${list[i].id})" class="plus">+</button></div>
                                        </ul>
                                    </div>
                                    <div class="col-sm-auto">
                                        <div class="text-lg-end">
                                            <p class="text-muted mb-1 fs-12">Item Price:</p>
                                            <h5 class="fs-16"><span class="product-price">${formatMoney(list[i].spct.sp.donGia)}</span></h5>
                                        </div>
                                    </div>
                                </div>`
                }
            }
            main += `<div class="card product" >
                           <div class="card-header">
                                <div class="row align-items-center gy-3">
                                   <div class="col-sm">
                                        <div class="d-flex flex-wrap my-n1 mt-auto mb-auto">
                                            <div>
                                                <div class="d-block text-body p-1 px-2 form-check"><input class="form-check-input" type="checkbox" id="checkAll" value="option" style="width: 20px; height: 20px"></div>
                                            </div>
                                            <div>
                                                <div class="d-block text-body p-1 px-2 form-check-label"><h5 class="fs-16 lh-base mb-1">${list[i].spct.sp.tenSP}</h5></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body p-4">
                            ${groupSP}
                            </div>
                            <div class="card-footer">
                                <div class="row align-items-center gy-3">
                                    <div class="col-sm">
                                        <div class="d-flex flex-wrap my-n1">
                                            <div>
                                                <button class="btn btn-hover d-block text-body p-1 px-2" onclick="deleteProduct(${list[i].id})"><i class="ri-delete-bin-fill text-muted align-bottom me-1"></i> Remove</button>
                                            </div>
                                            <div>
                                                <button class="btn btn-hover d-block text-body p-1 px-2"><i class="ri-star-fill text-muted align-bottom me-1"></i> Add Wishlist</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-auto">
                                        <div class="d-flex align-items-center gap-2 text-muted">
                                            <div>Total :</div>
                                            <h5 class="fs-14 mb-0"><span class="product-line-price">${formatMoney((list[i].spct.sp.donGia) * list[i].soLuong)}</span></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
            </div>`
            groupSP = '';
        }
        document.getElementById("card-product").innerHTML = main;
    }

    function formatMoney(money) {
        const VND = new Intl.NumberFormat('vi-VN', {
            style: 'currency',
            currency: 'VND',
        });
        return VND.format(money);
    }

    function deleteProduct(id) {
        console.log(id);
        swal.fire({
            title: "Bạn Có Muốn Xoá?",
            showDenyButton: true,
            showCancelButton: true,
            confirmButtonText: "Xoá",
            denyButtonText: `Quay Về`
        }).then((result) => {
            if (result.isConfirmed) {
                var url = '/api/client/cart_detail/delete/' + id;
                const promise = fetch(url, {
                    method: 'GET'
                });
                promise.then(response => {
                    if (response.status === 200) {
                        Swal.fire({
                            icon: "success",
                            title: "Xoá thành công!"
                        }).then((result) => {
                            if (result.isConfirmed) {
                                loadPage(0);
                            }
                        })
                    }
                })
            }
        });
    }

    function deleteAll() {
        swal.fire({
            title: "Bạn Có Muốn Xoá?",
            showDenyButton: true,
            showCancelButton: true,
            confirmButtonText: "Xoá",
            denyButtonText: `Quay Về`
        }).then((result) => {
            if (result.isConfirmed) {
                var url = '/api/client/cart_detail/delete';
                const promise = fetch(url, {
                    method: 'GET'
                });
                promise.then(response => {
                    if (response.status === 200) {
                        Swal.fire({
                            icon: "success",
                            title: "Xoá thành công!"
                        }).then((result) => {
                            if (result.isConfirmed) {
                                loadPage(0);
                            }
                        })
                    }
                })
            }
        });
    }

    function addQuantity(id) {
        $.ajax({
            url: '/api/client/cart_detail/add-quantity/' + id,
            method: 'GET',
            success: function (response) {
                console.log(response);
                if (response.statusText === "success") {
                    loadPage(0);
                }
                if (response.statusText === "failure") {
                    swal.fire({
                        text: "Đừng thêm nữa e!",
                        icon: "error",
                        confirmButtonText: 'OK'
                    })
                    loadPage(0);
                }
            },
            error: function (xhr, status, error) {
                console.error('Error:', error);
            }
        });
    }

    function minusQuantity(id, index) {
        var count = document.getElementById('product-quantity-' + index).value;
        if (count === 1) {
            swal.fire({
                title: "Bạn Có Muốn Xoá Sản Phẩm Khỏi Giỏ Hàng?",
                showDenyButton: true,
                showCancelButton: true,
                confirmButtonText: "Xoá",
                denyButtonText: `Quay Về`
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/api/client/cart_detail/minus-quantity/' + id,
                        method: 'GET',
                        success: function (response) {
                            console.log(response);
                            if (response.statusText === "success") {
                                swal.fire({
                                    icon: "success",
                                    title: "Xoá thành công!",
                                    cancelButtonText: "OK"
                                })
                                loadPage(0);
                            }
                        },
                        error: function (xhr, status, error) {
                            console.error('Error:', error);
                        }
                    });
                }
            });
        }
        $.ajax({
            url: '/api/client/cart_detail/minus-quantity/' + id,
            method: 'GET',
            success: function (response) {
                console.log(response);
                if (response.statusText === "success") {
                    loadPage(0);
                }
            },
            error: function (xhr, status, error) {
                console.error('Error:', error);
            }
        });
    }

    function editQuantity(id, index) {
        var count = document.getElementById('product-quantity-' + index).value;
        $.ajax({
            url: '/api/client/cart_detail/edit-quantity/' + id + '/' + count,
            method: 'GET',
            success: function (response) {
                console.log(response);
                if (response.statusText === "failure") {
                    if (response.message === "Quantity must be greater than 0") {
                        swal.fire({
                            icon: "warning",
                            text: "Số lượng sản phẩm phải lớn hơn 0!",
                            cancelButtonText: "OK"
                        })
                        loadPage(0);
                    } else if (response.message === "Format error") {
                        swal.fire({
                            icon: "warning",
                            text: "Vui lòng nhập đúng số lượng!",
                            cancelButtonText: "OK"
                        })
                        loadPage(0);
                    } else {
                        swal.fire({
                            icon: "warning",
                            text: "Rất tiếc! Số lượng sản phẩm chỉ còn lại " + response.message + "!",
                            cancelButtonText: "OK"
                        })
                        loadPage(0);
                    }
                } else {
                    loadPage(0);
                }
            },
            error: function (xhr, status, error) {
                console.error('Error:', error);
            }
        });
    }

</script>
</body>
</html>