<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-layout="vertical" data-topbar="light" data-sidebar="light"
      data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable" data-body-image="none">
<head th:replace="admin/fragments/head::head"></head>
<body>
<!-- Begin page -->
<div id="layout-wrapper">
    <div th:replace="admin/fragments/header::header"></div>
    <!-- ========== App Menu ========== -->
    <div th:replace="admin/fragments/sidebar::sidebar"></div>
    <!-- Left Sidebar End -->
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Thêm mới nhân viên</h4>
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Nhân viên</a></li>
                                    <li class="breadcrumb-item active">Thêm mới</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <form id="create-form" autocomplete="off" class="needs-validation" novalidate method="post"
                      th:action="@{/api/admin/staff/add}" th:object="${nhanVien}">
                    <div class="row">
                        <div class="card">
                            <div class="card-header">
                                <div class="d-flex">
                                    <div class="flex-shrink-0 me-3">
                                        <div class="avatar-sm">
                                            <div class="avatar-title rounded-circle bg-light text-primary fs-20">
                                                <i class="bi bi-person-fill-add"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex-grow-1">
                                        <h5 class="card-title mb-1">Thông tin nhân viên</h5>
                                        <p class="text-muted mb-0">Điền đầy đủ thông tin bên dưới.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-6 col-sm-12">
                                        <div class="mb-3">
                                            <label class="form-label" for="staff-name-input">Họ tên</label>
                                            <input type="text" class="form-control" id="staff-name-input"
                                                   placeholder="Họ tên" required th:field="*{hoTen}" onkeyup="validName()">
                                            <div class="text-danger" th:if="${errorName}" th:text="${errorName}">
                                                Please enter a staff.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-12">
                                        <div class="mb-3">
                                            <label class="form-label" for="staff-phone-input">Số điện thoại</label>
                                            <input type="text" class="form-control" id="staff-phone-input"
                                                   placeholder="Số điện thoại" required th:field="*{sdt}" onkeyup="validPhone()">
                                            <div class="text-danger" th:if="${errorPhone}" th:text="${errorPhone}">
                                                Please enter a staff.
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end col -->
                                </div>
                                <!-- end row -->
                                <div class="row">
                                    <div class="col-lg-6 col-sm-12">
                                        <div class="mb-3">
                                            <label class="form-label" for="staff-email-input">Email</label>
                                            <input type="text" class="form-control" id="staff-email-input" placeholder="Email"
                                                   required th:field="*{email}" onkeyup="validEmail()">
                                            <div class="text-danger" th:if="${errorEmail}" th:text="${errorEmail}">
                                                Please enter a staff.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-12">
                                        <div class="mb-3">
                                            <label for="staff-birthday-input" class="form-label">Ngày sinh</label>
                                            <input type="date" id="staff-birthday-input" class="form-control"
                                                   data-provider="flatpickr" required data-date-format="d M, Y" th:field="*{ngaySinh}" onkeyup="validBirthday()"/>
                                            <div class="text-danger" th:if="${errorBirthday}" th:text="${errorBirthday}">
                                                Please enter a staff.
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end col -->
                                </div>
                                <!-- end row -->
                                <div class="row">
                                    <div class="col-lg-6 col-sm-12">
                                        <div class="mb-3">
                                            <label class="form-label" for="staff-image-input">Hình ảnh</label>
                                            <input type="file" class="form-control" id="staff-image-input"
                                                   placeholder="Hình ảnh" required th:field="*{anhNhanVien}">
                                            <!--                                            <div class="text-danger">-->
                                            <!--                                                Please enter a staff.-->
                                            <!--                                            </div>-->
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-12">
                                        <div class="mb-3">
                                            <label for="staff-position-input" class="form-label">Chức vụ</label>
                                            <select class="form-control" required id="staff-position-input" th:field="*{cv}" onchange="validPosition()">
                                                <option value="0">Chức vụ</option>
                                                <option th:each="position:${chucVu}" th:value="${position.id}"
                                                        th:text="${position.tenChucVu}"></option>
                                            </select>
                                            <div class="text-danger" th:if="${errorPosition}" th:text="${errorPosition}">
                                                Please enter a staff.
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end col -->
                                </div>
                                <!-- end row -->
                            </div>
                        </div>
                        <!-- end card -->
                        <div class="text-end mb-3">
                            <a th:href="@{/api/admin/staff}" class="btn btn-danger w-sm">Trở lại</a>
                            <button type="button" class="btn btn-success w-sm" onclick="showConfirmPopup()">Thêm mới</button>
                        </div>
                    </div>
                    <!-- end col -->
            </div>
            <!-- end row -->
            </form>
        </div>
        <!-- End Page-content -->
    </div>
    <!-- end main content-->
</div>
<!-- END layout-wrapper -->
</div>
<!--<div th:replace="admin/fragments/chat::chat"></div>-->
<div th:replace="admin/fragments/themeSettings::themeSettings"></div>
<div th:replace="admin/fragments/script::script"></div>
</body>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<script th:inline="javascript">
    function showConfirmPopup() {
        swal.fire({
            title: "Do you want to save the changes?",
            showDenyButton: true,
            showCancelButton: true,
            confirmButtonText: "Save",
            denyButtonText: `Don't save`
        }).then((result) => {
            if (result.isConfirmed) {
                document.getElementById('create-form').submit();
            }
            // else if (result.isDenied) {
            //     // swal.fire("Changes are not saved", "", "info");
            // }
        });
    }
</script>
<script th:inline="javascript">
    function validName() {
        var nameInput = document.getElementById('staff-name-input');
        var errorName = document.getElementById('errorName');

        nameInput.addEventListener('input', function () {
            if (nameInput.value.trim() !== '') {
                errorName.style.display = 'none';
            } else {
                errorName.style.display = 'block';
            }
        });
    }

    function validPhone() {
        var phoneInput = document.getElementById('staff-phone-input');
        var errorPhone = document.getElementById('errorPhone');

        phoneInput.addEventListener('input', function () {
            if (phoneInput.value.trim() !== '') {
                errorPhone.style.display = 'none';
            } else {
                errorPhone.style.display = 'block';
            }
        });
    }

    function validEmail() {
        var emailInput = document.getElementById('staff-email-input');
        var errorEmail = document.getElementById('errorEmail');

        if (emailInput.value.trim() !== '') {
            errorEmail.style.display = 'none';
        } else {
            errorEmail.style.display = 'block';
        }

    }

    function validBirthday() {
        var birthdayInput = document.getElementById('staff-birthday-input');
        var errorBirthday = document.getElementById('errorBirthday');

        if (birthdayInput.value.trim() !== '') {
            errorBirthday.style.display = 'none';
        } else {
            errorBirthday.style.display = 'block';
        }
    }

    function validPosition() {
        var positionInput = document.getElementById('staff-position-input');
        var errorPosition = document.getElementById('errorPosition');

        if (positionInput.value !== 0) {
            errorPosition.style.display = 'none';
        } else {
            errorPosition.style.display = 'block';
        }

    }

</script>
<script th:if="${message == true}">
    swal.fire("Saved!", "", "success");
</script>
<script th:if="${message == false}">
    swal.fire("Changes have not been saved!", "", "error");
</script>
</html>