<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-layout="vertical" data-topbar="light" data-sidebar="light"
      data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable" data-body-image="none">
<head th:replace="admin/fragments/head::head">
</head>
<body>
<!-- Begin page -->
<div id="layout-wrapper">
    <div th:replace="admin/fragments/header::header"></div>
    <!-- ========== App Menu ========== -->
    <div th:replace="admin/fragments/sidebar::sidebar"></div>
    <!-- Left Sidebar End -->
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Hoá Đơn</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Hoá Đơn</a></li>
                                    <li class="breadcrumb-item active">Danh Sách Hoá Đơn</li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card" id="invoiceList">
                            <div class="card-header border-0">
                                <div class="d-flex align-items-center">
                                    <h5 class="card-title mb-0 flex-grow-1">Danh Sách Hoá Đơn</h5>
                                </div>
                            </div>
                            <div class="card-body bg-soft-light border border-dashed border-start-0 border-end-0">
                                <form>
                                    <div class="row g-3">
                                        <div class="col-xxl-5 col-sm-12">
                                            <div class="search-box">
                                                <input type="text" class="form-control search bg-light border-light"
                                                       placeholder="....">
                                                <i class="ri-search-line search-icon"></i>
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-xxl-3 col-sm-4">
                                            <input type="text" class="form-control bg-light border-light"
                                                   id="datepicker-range" placeholder="Select date">
                                        </div>
                                        <!--end col-->
                                        <div class="col-xxl-3 col-sm-4">
                                            <div class="input-light">
                                                <select class="form-control" data-choices data-choices-search-false
                                                        name="choices-single-default" id="status-select" onclick="loadPage()">
                                                    <option value="-1" selected>Tất Cả</option>
                                                    <option value="0">Chờ</option>
                                                    <option value="1">Hoàn Thành</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!--end col-->

                                        <div class="col-xxl-1 col-sm-4">
                                            <button type="button" class="btn btn-info w-100">
                                                <i class="ri-equalizer-fill me-1 align-bottom"></i> Lọc
                                            </button>
                                        </div>
                                        <!--end col-->
                                    </div>
                                    <!--end row-->
                                </form>
                            </div>
                            <div class="card-body">
                                <div>
                                    <div class="table-responsive table-card">
                                        <table class="table align-middle table-nowrap" id="invoiceTable">
                                            <thead class="text-muted">
                                            <tr>
                                                <!--                                                        <th scope="col" style="width: 50px;">-->
                                                <!--                                                            <div class="form-check">-->
                                                <!--                                                                <input class="form-check-input" type="checkbox" id="checkAll" value="option">-->
                                                <!--                                                            </div>-->
                                                <!--                                                        </th>-->
                                                <th>Mã Hoá Đơn</th>
                                                <th>Khách Hàng</th>
                                                <th>Nhân Viên</th>
                                                <th>Ngày Tạo</th>
                                                <th>Tổng Tiền</th>
                                                <th>Trạng Thái</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody
                                                    class="list form-check-all"
                                                    id="invoice-list-data">
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="d-flex justify-content-end mt-3">
                                        <div class="pagination-wrap hstack gap-2 flex-wrap" id="pagination-element">
                                            <button class="page-item pagination-prev">
                                                Quay Lại
                                            </button>
                                            <ul class="pagination listjs-pagination mb-0"></ul>
                                            <button class="page-item pagination-next">
                                                Tiếp
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <!-- Modal -->
                                <div class="modal fade flip" id="deleteOrder" tabindex="-1" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-body p-5 text-center">
                                                <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop"
                                                           colors="primary:#405189,secondary:#f06548"
                                                           style="width:90px;height:90px"></lord-icon>
                                                <div class="mt-4 text-center">
                                                    <h4>You are about to delete a order ?</h4>
                                                    <p class="text-muted fs-15 mb-4">Deleting your order will remove all
                                                        of your information from our database.</p>
                                                    <div class="hstack gap-2 justify-content-center remove">
                                                        <button class="btn btn-link link-success fw-medium text-decoration-none"
                                                                id="deleteRecord-close" data-bs-dismiss="modal"><i
                                                                class="ri-close-line me-1 align-middle"></i> Close
                                                        </button>
                                                        <button class="btn btn-danger" id="delete-record">Yes, Delete
                                                            It
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end modal -->
                            </div>
                        </div>

                    </div>
                    <!--end col-->
                </div>
                <!--end row-->

            </div><!-- container-fluid -->
        </div>
        <!-- End Page-content -->
    </div>
    <!-- end main content-->
</div>
<!-- END layout-wrapper -->
<div class="modal" id="myModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Hoá Đơn Chi Tiết</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body" style="margin-bottom: 20px;">
                <div class="row justify-content-center">
                    <div class="col-xxl-12">
                        <div class="card" id="demo">
                            <div class="row">
                                <div class="col-lg-12">
                                    <!--end card-header-->
                                </div><!--end col-->
                                <div class="col-lg-12">
                                    <div class="card-body p-4">
                                        <div class="row g-3">
                                            <div class="col-lg-3 col-6">
                                                <p class="text-muted mb-2 text-uppercase fw-semibold fs-14">Mã Hoá Đơn</p>
                                                <h5 class="fs-15 mb-0">#<span id="invoice-no"></span></h5>
                                            </div>
                                            <!--end col-->
                                            <div class="col-lg-3 col-6">
                                                <p class="text-muted mb-2 text-uppercase fw-semibold fs-14">Ngày Tạo</p>
                                                <h5 class="fs-15 mb-0"><span id="invoice-date"></span></h5>
                                            </div>
                                            <!--end col-->
                                            <div class="col-lg-3 col-6">
                                                <p class="text-muted mb-2 text-uppercase fw-semibold fs-14">Trạng Thái</p>
                                                <span class="badge bg-success-subtle text-success " id="payment-status"></span>
                                            </div>
                                            <!--end col-->
                                            <div class="col-lg-3 col-6">
                                                <p class="text-muted mb-2 text-uppercase fw-semibold fs-14">Tổng Tiền</p>
                                                <h5 class="fs-15 mb-0"><span id="total-amount"></span></h5>
                                            </div>
                                            <!--end col-->
                                        </div>
                                        <!--end row-->
                                    </div>
                                    <!--end card-body-->
                                </div><!--end col-->
                                <!--                                    <div class="col-lg-12">-->
                                <!--                                        <div class="card-body p-4 border-top border-top-dashed">-->
                                <!--                                            <div class="row g-3">-->
                                <!--                                                <div class="col-6">-->
                                <!--                                                    <h6 class="text-muted text-uppercase fw-semibold fs-14 mb-3">Billing Address</h6>-->
                                <!--                                                    <p class="fw-medium mb-2 fs-16" id="billing-name">Edward Diana</p>-->
                                <!--                                                    <p class="text-muted mb-1" id="billing-address-line-1">4430 Holt Street, Miami, Florida-33169</p>-->
                                <!--                                                    <p class="text-muted mb-1"><span>Phone: +</span><span id="billing-phone-no">(123) 561-238-1000</span></p>-->
                                <!--                                                    <p class="text-muted mb-0"><span>Tax: </span><span id="billing-tax-no">65-498700</span> </p>-->
                                <!--                                                </div>-->
                                <!--                                                &lt;!&ndash;end col&ndash;&gt;-->
                                <!--                                                <div class="col-6">-->
                                <!--                                                    <h6 class="text-muted text-uppercase fw-semibold fs-14 mb-3">Shipping Address</h6>-->
                                <!--                                                    <p class="fw-medium mb-2 fs-16" id="shipping-name">Edward Diana</p>-->
                                <!--                                                    <p class="text-muted mb-1" id="shipping-address-line-1">4430 Holt Street, Miami, Florida-33169</p>-->
                                <!--                                                    <p class="text-muted mb-1"><span>Phone: +</span><span id="shipping-phone-no">(123) 561-238-1000</span></p>-->
                                <!--                                                </div>-->
                                <!--                                                &lt;!&ndash;end col&ndash;&gt;-->
                                <!--                                            </div>-->
                                <!--                                            &lt;!&ndash;end row&ndash;&gt;-->
                                <!--                                        </div>-->
                                <!--                                        &lt;!&ndash;end card-body&ndash;&gt;-->
                                <!--                                    </div>-->
                                <!--end col-->
                                <div class="col-lg-12">
                                    <div class="card-body p-4">
                                        <div class="table-responsive">
                                            <table class="table table-borderless text-center table-nowrap align-middle mb-0">
                                                <thead>
                                                <tr class="table-active">
                                                    <th scope="col" style="width: 50px;">#</th>
                                                    <th scope="col">Sản Phẩm</th>
                                                    <th scope="col">Đơn Giá</th>
                                                    <th scope="col">Số Lượng</th>
                                                    <th scope="col" class="text-end">Tổng Tiền</th>
                                                </tr>
                                                </thead>
                                                <tbody id="products-list">
                                                </tbody>
                                            </table><!--end table-->
                                        </div>
                                        <div class="border-top border-top-dashed mt-2">
                                            <table class="table table-borderless table-nowrap align-middle mb-0 ms-auto" style="width:250px">
                                                <tbody id="sub-total">
                                                </tbody>
                                            </table>
                                            <!--end table-->
                                        </div>
                                        <!--                                            <div class="mt-3">-->
                                        <!--                                                <h6 class="text-muted text-uppercase fw-semibold mb-3">Payment Details:</h6>-->
                                        <!--                                                <p class="text-muted mb-1">Payment Method: <span class="fw-medium" id="payment-method">Mastercard</span></p>-->
                                        <!--                                                <p class="text-muted mb-1">Card Holder: <span class="fw-medium" id="card-holder-name">David Nichols</span></p>-->
                                        <!--                                                <p class="text-muted mb-1">Card Number: <span class="fw-medium" id="card-number">xxx xxxx xxxx 1234</span></p>-->
                                        <!--                                                <p class="text-muted">Total Amount: <span class="fw-medium">$ </span><span id="card-total-amount">1406.92</span></p>-->
                                        <!--                                            </div>-->
                                        <!--                                            <div class="mt-4">-->
                                        <!--                                                <div class="alert alert-info">-->
                                        <!--                                                    <p class="mb-0"><span class="fw-semibold">NOTES:</span>-->
                                        <!--                                                        <span id="note">All accounts are to be paid within 7 days from receipt of invoice. To be paid by cheque or-->
                                        <!--                                                            credit card or direct payment online. If account is not paid within 7-->
                                        <!--                                                            days the credits details supplied as confirmation of work undertaken-->
                                        <!--                                                            will be charged the agreed quoted fee noted above.-->
                                        <!--                                                        </span>-->
                                        <!--                                                    </p>-->
                                        <!--                                                </div>-->
                                        <!--                                            </div>-->
                                        <div class="hstack gap-2 justify-content-end d-print-none mt-4">
                                            <button class="btn btn-success" onclick="printModal()" id="printButton"><i class="ri-printer-line align-bottom me-1"></i> Print</button>
                                        </div>
                                    </div>
                                    <!--end card-body-->
                                </div><!--end col-->
                            </div><!--end row-->
                        </div>
                        <!--end card-->
                    </div>
                    <!--end col-->
                </div>
            </div>
            <div class="modal-footer justify-content-end" id="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Đóng
                </button>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
</div>
<div th:replace="admin/fragments/chat::chat"></div>
<div th:replace="admin/fragments/themeSettings::themeSettings"></div>
<div th:replace="admin/fragments/script::script"></div>
</body>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    var indexCurrentPage;

    window.onload = function () {
        loadPage();
    }

    async function loadPage(pageNumber) {

        var status = document.getElementById('status-select').value;

        var baseUrl;

        indexCurrentPage = pageNumber;

        if (pageNumber === undefined && status === "-1") {
            baseUrl = "/api/admin/invoice/index/" + 0;
        }
        if (pageNumber !== undefined && status === "-1"){
            baseUrl = "/api/admin/invoice/index/" + pageNumber;
        }
        if (pageNumber === undefined && status !== "-1"){
            baseUrl = "/api/admin/invoice/index/" + 0 + "?status=" + status;
        }
        if (pageNumber !== undefined && status !== "-1"){
            baseUrl = "/api/admin/invoice/index/" + pageNumber + "?status=" + status;
        }
        const response = await fetch(baseUrl, {
            method: 'GET'
        });
        var result = await response.json();
        console.log(result);
        var list = result.content;
        var totalPage = result.totalPages;
        var number = result.number;
        var main = '';
        for (i = 0; i < list.length; i++) {
            var createAt = list[i].ngayTao;
            var money = list[i].tongTien;
            var momentDate = moment(createAt);
            var customerName;
            if (list[i].kh === null) {
                customerName = 'Anonymous';
            } else {
                customerName = list[i].kh.hoTen;
            }
            const formattedDate = momentDate.format('DD/MM/YYYY HH:mm');
            const formattedMoney = formatmoney(money);
            var statusBadge;
            if (list[i].trangThai === 0) {
                statusBadge = '<span class="badge bg-success">Chờ</span>'
            }
            if (list[i].trangThai === 1) {
                statusBadge = '<span class="badge bg-success">Hoàn Thành</span>';
            }
            main += `<tr >
                            <td scope="row">${list[i].maDonHang}</td>
                            <td scope="row">${customerName}</td>
                            <td scope="row">${list[i].nv.hoTen}</td>
                            <td scope="row">${formattedDate}</td>
                            <td scope="row">${formattedMoney}</td>
                            <td scope="row">${statusBadge}</td>
                            <td>
                                <div onclick="detailInvoice(${list[i].id})"
                                     class="link-info fs-15"><i class="ri-eye-2-line"></i></div>
                            </td>
                     </tr>`
        }
        document.getElementById("invoice-list-data").innerHTML = main;
        var pagination = `
                            <button class="page-item pagination-prev" onclick="loadPage(${number - 1 < 0 ? totalPage - 1 : number - 1})">
                                    Quay Lại
                            </button>
                            <button class="page-item pagination-wrap" disabled>${number+1}</button>
                            <button class="page-item pagination-next" onclick="loadPage(${number + 1 === totalPage ? 0 : number + 1})">
                                    Tiếp
                            </button>
        `;
        document.getElementById("pagination-element").innerHTML = pagination;
    }

    function formatmoney(money) {
        const VND = new Intl.NumberFormat('vi-VN', {
            style: 'currency',
            currency: 'VND',
        });
        return VND.format(money);
    }

    async function detailInvoice(id) {
        var url = '/api/admin/invoice/invoice-detail/' + id;
        const response = await fetch(url,{
            method: 'GET'
        })
        const data = await response.json();
        var main = '';
        var sub_total = '';
        var total_amount = 0;
        if(response.status === 200){
            console.log(data);
            for (i = 0; i < data.length ;i++){
                total_amount += data[i].spct.sp.donGia*data[i].soLuong;
                main += `
                <tr>
                      <th scope="row">${i+1}</th>
                      <td class="text-start">
                      <span class="fw-medium">${data[i].spct.sp.tenSP}</span>
                             <p class="text-muted mb-0">${data[i].spct.ms.ten} & ${data[i].spct.size}</p>
                      </td>
                      <td>${formatmoney(data[i].spct.sp.donGia)}</td>
                      <td>${data[i].soLuong}</td>
                      <td class="text-end">${formatmoney(data[i].spct.sp.donGia*data[i].soLuong)}</td>
                </tr>`
            }
            var vat = (total_amount)-(total_amount*0.9);
            sub_total = `
                   <tr>
                              <td>Tổng tiền <small class="text-muted">(Trước thuế)</small></td>
                              <td class="text-end">${formatmoney(total_amount)}</td>
                   </tr>
                   <tr>
                             <td>VAT (10%)</td>
                             <td class="text-end">${formatmoney(vat)}</td>
                   </tr>
                   <tr>
                              <td>Mã giảm giá <small class="text-muted">Không áp Dụng</small></td>
                              <td class="text-end">- ${formatmoney(0)}</td>
                   </tr>
                   <tr class="border-top border-top-dashed fs-15">
                               <th scope="row">Tổng số tiền</th>
                               <th class="text-end">${formatmoney(total_amount + vat)}</th>
                   </tr>
                    <tr>
                              <td>Tiền Khách Trả</td>
                              <td class="text-end">${formatmoney(data[0].dh.tienKhachTra)}</td>
                   </tr>
                    <tr>
                              <td>Tiền trả lại</td>
                              <td class="text-end">${formatmoney(data[0].dh.tienKhachTra-(total_amount + vat))}</td>
                   </tr>
            `;
            var momentDate = moment(data[0].dh.ngayTao);
            var status = '';
            if(data[0].dh.trangThai === 0){
                status = 'Chờ';
            }
            if(data[0].dh.trangThai === 1){
                status = 'Đã thanh toán';
            }            document.getElementById('products-list').innerHTML = main;
            document.getElementById('sub-total').innerHTML = sub_total;
            document.getElementById('invoice-no').innerText = data[0].dh.maDonHang;
            document.getElementById('invoice-date').innerText = momentDate.format('DD/MM/YYYY HH:mm');
            document.getElementById('payment-status').innerText = status;
            document.getElementById('total-amount').innerText = formatmoney(total_amount);
            $('#myModal').modal('show');
        }
    }

    function printModal() {
        document.getElementById('layout-wrapper').style.display = 'none';
        document.getElementById('modal-footer').style.display = 'none';
        window.print();
        document.getElementById('layout-wrapper').style.display = 'block';
        document.getElementById('modal-footer').style.display = 'block';
    }

</script>
</html>