<div th:fragment="sidebar">
    <div class="app-menu navbar-menu">
        <!-- LOGO -->
        <div class="navbar-brand-box">
            <a href="index" class="logo logo-dark">
            <span class="logo-sm">
              <img src="../assets/images/logo-sm.png" alt="" height="26"/>
            </span>
                <span class="logo-lg">
              <img src="../assets/images/logo-dark.png" alt="" height="26"/>
            </span>
            </a>
            <a href="index" class="logo logo-light">
            <span class="logo-sm">
              <img src="../assets/images/logo-sm.png" alt="" height="24"/>
            </span>
                <span class="logo-lg">
              <img src="../assets/images/logo-light.png" alt="" height="24"/>
            </span>
            </a>
            <button
                    type="button"
                    class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover"
                    id="vertical-hover"
            >
                <i class="ri-record-circle-line"></i>
            </button>
        </div>
        <div id="scrollbar">
            <div class="container-fluid">
                <div id="two-column-menu"></div>
                <ul class="navbar-nav" id="navbar-nav">
                    <li class="menu-title"><span data-key="t-menu">Menu</span></li>

                    <li class="nav-item">
                        <a href="index" class="nav-link menu-link">
                            <i class="bi bi-speedometer2"></i>
                            <span data-key="t-dashboard">Dashboard</span></a
                        >
                    </li>
                    <li class="nav-item">
                        <a href="/admin/sell-off" class="nav-link menu-link">
                            <i class="bi bi-receipt-cutoff"></i>
                            <span data-key="t-sell-off">Bán hàng tại quầy</span></a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                                class="nav-link menu-link"
                                href="#sidebarProducts"
                                data-bs-toggle="collapse"
                                role="button"
                                aria-expanded="false"
                                aria-controls="sidebarProducts"
                        >
                            <i class="bi bi-box-seam"></i>
                            <span data-key="t-products">Products</span>
                        </a>
                        <div class="collapse menu-dropdown" id="sidebarProducts">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a
                                            href="/admin/product/product_list"
                                            class="nav-link"
                                            data-key="t-list-view"
                                    >List View</a
                                    >
                                </li>
                                <li class="nav-item">
                                    <a
                                            href="/admin/product/create_product"
                                            class="nav-link"
                                            data-key="t-create-product"
                                    >Create Product</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a
                                class="nav-link menu-link"
                                href="#sidebarOrders"
                                data-bs-toggle="collapse"
                                role="button"
                                aria-expanded="false"
                                aria-controls="sidebarOrders"
                        >
                            <i class="bi bi-cart4"></i>
                            <span data-key="t-orders">Orders</span>
                        </a>
                        <div class="collapse menu-dropdown" id="sidebarOrders">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a
                                            href="orders-list-view"
                                            class="nav-link"
                                            data-key="t-list-view"
                                    >List View</a
                                    >
                                </li>
                                <li class="nav-item">
                                    <a
                                            href="orders-overview"
                                            class="nav-link"
                                            data-key="t-overview"
                                    >Overview</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a
                                class="nav-link menu-link"
                                href="#sidebarVoucher"
                                data-bs-toggle="collapse"
                                role="button"
                                aria-expanded="false"
                                aria-controls="sidebarOrders"
                        >
                            <i class="bi bi-cart4"></i>
                            <span data-key="t-orders">Voucher</span>
                        </a>
                        <div class="collapse menu-dropdown" id="sidebarVoucher">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a
                                            href="voucher"
                                            class="nav-link"
                                            data-key="t-list-view"
                                    >List voucher</a
                                    >
                                </li>
                                <li class="nav-item">
                                    <a
                                            href="add-voucher"
                                            class="nav-link"
                                            data-key="t-overview"
                                    >Add voucher</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </li>


                    <li class="nav-item">
                        <a
                                class="nav-link menu-link"
                                href="#sidebarSellers"
                                data-bs-toggle="collapse"
                                role="button"
                                aria-expanded="false"
                                aria-controls="sidebarSellers"
                        >
                            <i class="bi bi-binoculars"></i>
                            <span data-key="t-sellers">Sellers</span>
                        </a>
                        <div class="collapse menu-dropdown" id="sidebarSellers">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a
                                            href="sellers-list-view"
                                            class="nav-link"
                                            data-key="t-list-view"
                                    >List View</a
                                    >
                                </li>
                                <li class="nav-item">
                                    <a
                                            href="sellers-grid-view"
                                            class="nav-link"
                                            data-key="t-grid-view"
                                    >Grid View</a
                                    >
                                </li>
                                <li class="nav-item">
                                    <a
                                            href="seller-overview"
                                            class="nav-link"
                                            data-key="t-overview"
                                    >Overview</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a
                                class="nav-link menu-link"
                                href="#sidebarInvoice"
                                data-bs-toggle="collapse"
                                role="button"
                                aria-expanded="false"
                                aria-controls="sidebarInvoice"
                        >
                            <i class="bi bi-archive"></i>
                            <span data-key="t-invoice">Invoice</span>
                        </a>
                        <div class="collapse menu-dropdown" id="sidebarInvoice">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a
                                            href="/admin/invoices_list"
                                            class="nav-link"
                                            data-key="t-list-view"
                                    >List View</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a href="users-list" class="nav-link menu-link">
                            <i class="bi bi-person-bounding-box"></i>
                            <span data-key="t-users-list">Users List</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a
                                class="nav-link menu-link"
                                href="#sidebarShipping"
                                data-bs-toggle="collapse"
                                role="button"
                                aria-expanded="false"
                                aria-controls="sidebarShipping"
                        >
                            <i class="bi bi-truck"></i>
                            <span data-key="t-shipping">Shipping</span>
                        </a>
                        <div class="collapse menu-dropdown" id="sidebarShipping">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a
                                            href="shipping-list"
                                            class="nav-link"
                                            data-key="t-shipping-list"
                                    >Shipping List</a
                                    >
                                </li>
                                <li class="nav-item">
                                    <a
                                            href="shipments"
                                            class="nav-link"
                                            data-key="t-shipments"
                                    >Shipments</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a href="coupons" class="nav-link menu-link">
                            <i class="bi bi-tag"></i>
                            <span data-key="t-coupons">Coupons</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="brands" class="nav-link menu-link"
                        ><i class="bi bi-shop"></i>
                            <span data-key="t-brands">Brands</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Sidebar -->
        </div>
        <div class="sidebar-background"></div>
    </div>
</div>

